# New dataset

**Working on the new 'additional statistics' data**

In [1]:
import pandas as pd

In [5]:
chunks = pd.read_csv('data/PMTHIST_INVESTOR_201811.csv', chunksize=1000)

In [9]:
first_chunk = chunks.get_chunk()

In [11]:
first_chunk.columns

Index(['LOAN_ID', 'RECEIVED_D', 'PERIOD_END_LSTAT', 'Month', 'MOB', 'CO',
       'PBAL_BEG_PERIOD_INVESTORS', 'PRNCP_PAID_INVESTORS',
       'INT_PAID_INVESTORS', 'FEE_PAID_INVESTORS', 'DUE_AMT_INVESTORS',
       'RECEIVED_AMT_INVESTORS', 'PBAL_END_PERIOD_INVESTORS',
       'MONTHLYPAYMENT_INVESTORS', 'COAMT_INVESTORS', 'InterestRate',
       'IssuedDate', 'dti', 'State', 'HomeOwnership', 'MonthlyIncome',
       'EarliestCREDITLine', 'OpenCREDITLines', 'TotalCREDITLines',
       'RevolvingCREDITBalance', 'RevolvingLineUtilization', 'Inquiries6M',
       'DQ2yrs', 'MonthsSinceDQ', 'PublicRec', 'MonthsSinceLastRec',
       'EmploymentLength', 'currentpolicy', 'grade', 'term', 'appl_fico_band',
       'Last_FICO_BAND', 'vintage', 'PCO_RECOVERY_INVESTORS',
       'PCO_COLLECTION_FEE_INVESTORS'],
      dtype='object')

What we need:

In [26]:
columns = ['LOAN_ID', 'RECEIVED_D', 'PERIOD_END_LSTAT', 'Month', 'MOB', 'IssuedDate', 'term']

In [16]:
first_chunk

,LOAN_ID,RECEIVED_D,PERIOD_END_LSTAT,Month,MOB,CO,PBAL_BEG_PERIOD_INVESTORS,PRNCP_PAID_INVESTORS,INT_PAID_INVESTORS,FEE_PAID_INVESTORS,...,MonthsSinceLastRec,EmploymentLength,currentpolicy,grade,term,appl_fico_band,Last_FICO_BAND,vintage,PCO_RECOVERY_INVESTORS,PCO_COLLECTION_FEE_INVESTORS
0,54734,SEP2009,Current,SEP2009,1,0,19080.057200,443.647900,189.123117,0.0,...,NaN,< 1 year,1,B,36,735-739,755-759,09Q3,NaN,NaN
1,54734,OCT2009,Current,OCT2009,2,0,18636.409300,448.045375,184.725642,0.0,...,NaN,< 1 year,1,B,36,735-739,755-759,09Q3,NaN,NaN
2,54734,NOV2009,Current,NOV2009,3,0,18188.363925,452.486438,180.284579,0.0,...,NaN,< 1 year,1,B,36,735-739,785-789,09Q3,NaN,NaN
3,54734,DEC2009,Current,DEC2009,4,0,17735.877487,456.971521,175.799496,0.0,...,NaN,< 1 year,1,B,36,735-739,780-784,09Q3,NaN,NaN
4,54734,JAN2010,Current,JAN2010,5,0,17278.905966,461.501061,171.269956,0.0,...,NaN,< 1 year,1,B,36,735-739,800-804,09Q3,NaN,NaN
5,54734,FEB2010,Current,FEB2010,6,0,16817.404904,466.075498,166.695519,0.0,...,NaN,< 1 year,1,B,36,735-739,745-749,09Q3,NaN,NaN
6,54734,MAR2010,Current,MAR2010,7,0,16351.329406,470.695277,162.075740,0.0,...,NaN,< 1 year,1,B,36,735-739,745-749,09Q3,NaN,NaN
7,54734,APR2010,Current,APR2010,8,0,15880.634129,475.360848,157.410169,0.0,...,NaN,< 1 year,1,B,36,735-739,745-749,09Q3,NaN,NaN
8,54734,MAY2010,Current,MAY2010,9,0,15405.273281,480.072664,152.698353,0.0,...,NaN,< 1 year,1,B,36,735-739,745-749,09Q3,NaN,NaN
9,54734,JUN2010,Current,JUN2010,10,0,14925.200617,484.831185,147.939832,0.0,...,NaN,< 1 year,1,B,36,735-739,775-779,09Q3,NaN,NaN
10,54734,JUL2010,Current,JUL2010,11,0,14440.369432,489.636872,143.134145,0.0,...,NaN,< 1 year,1,B,36,735-739,785-789,09Q3,NaN,NaN
11,54734,AUG2010,Current,AUG2010,12,0,13950.732560,494.490193,138.280824,0.0,...,NaN,< 1 year,1,B,36,735-739,775-779,09Q3,NaN,NaN
12,54734,SEP2010,Current,SEP2010,13,0,13456.242367,499.391621,133.379396,0.0,...,NaN,< 1 year,1,B,36,735-739,790-794,09Q3,NaN,NaN
13,54734,OCT2010,Current,OCT2010,14,0,12956.850745,504.341633,128.429384,0.0,...,NaN,< 1 year,1,B,36,735-739,760-764,09Q3,NaN,NaN
14,54734,NOV2010,Current,NOV2010,15,0,12452.509113,509.340709,123.430308,0.0,...,NaN,< 1 year,1,B,36,735-739,755-759,09Q3,NaN,NaN
15,54734,DEC2010,Current,DEC2010,16,0,11943.168404,514.389337,118.381680,0.0,...,NaN,< 1 year,1,B,36,735-739,755-759,09Q3,NaN,NaN
16,54734,JAN2011,Current,JAN2011,17,0,11428.779067,519.488006,113.283011,0.0,...,NaN,< 1 year,1,B,36,735-739,755-759,09Q3,NaN,NaN
17,54734,FEB2011,Current,FEB2011,18,0,10909.291061,1157.408232,108.133802,0.0,...,NaN,< 1 year,1,B,36,735-739,775-779,09Q3,NaN,NaN
18,54734,MAR2011,Current,MAR2011,19,0,9751.882829,536.109542,96.661475,0.0,...,NaN,< 1 year,1,B,36,735-739,765-769,09Q3,NaN,NaN
19,54734,APR2011,Current,APR2011,20,0,9215.773287,593.687597,91.347513,0.0,...,NaN,< 1 year,1,B,36,735-739,765-769,09Q3,NaN,NaN
20,54734,MAY2011,Current,MAY2011,21,0,8622.085690,599.572278,85.462832,0.0,...,NaN,< 1 year,1,B,36,735-739,790-794,09Q3,NaN,NaN
21,54734,JUN2011,Current,JUN2011,22,0,8022.513413,605.515288,79.519821,0.0,...,NaN,< 1 year,1,B,36,735-739,790-794,09Q3,NaN,NaN
22,54734,JUL2011,Current,JUL2011,23,0,7416.998125,611.517206,73.517903,0.0,...,NaN,< 1 year,1,B,36,735-739,775-779,09Q3,NaN,NaN
23,54734,AUG2011,Current,AUG2011,24,0,6805.480918,617.578616,67.456494,0.0,...,NaN,< 1 year,1,B,36,735-739,775-779,09Q3,NaN,NaN
24,54734,SEP2011,Current,SEP2011,25,0,6187.902303,623.700106,61.335003,0.0,...,NaN,< 1 year,1,B,36,735-739,760-764,09Q3,NaN,NaN
25,54734,OCT2011,Fully Paid,OCT2011,26,0,5564.202196,5564.202196,55.152836,0.0,...,NaN,< 1 year,1,B,36,735-739,780-784,09Q3,NaN,NaN
26,55716,SEP2016,Current,SEP2016,1,0,3500.000000,116.262500,72.887500,0.0,...,28.0,< 1 year,1,E,36,665-669,665-669,16Q3,NaN,NaN
27,55716,OCT2016,Current,OCT2016,2,0,3383.737500,68.301875,70.848125,0.0,...,28.0,< 1 year,1,E,36,665-669,665-669,16Q3,NaN,NaN
28,55716,NOV2016,Current,NOV2016,3,0,3315.435625,70.106053,69.043947,0.0,...,28.0,< 1 year,1,E,36,665-669,665-669,16Q3,NaN,NaN
29,55716,DEC2016,Current,DEC2016,4,0,3245.329572,71.566012,67.583988,0.0,...,28.0,< 1 year,1,E,36,665-669,MISSING,16Q3,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
970,68817,JAN2009,Current,JAN2009,10,0,1930.455489,63.319572,17.744103,0.0,...,NaN,10+ years,1,C,36,700-704,675-679,08Q1,NaN,NaN
971,68817,MAR2009,Current,FEB2009,11,0,1867.135918,63.901584,17.162091,0.0,...,NaN,10+ years,1,C,36,700-704,685-689,08Q1,NaN,NaN
972,68817,APR2009,Current,MAR2009,12,0,1803.234334,64.488946,16.574729,0.0,...,NaN,10+ years,1,C,36,700-704,685-689,08Q1,NaN,NaN
973,68817,APR2009,Current,APR2009,13,0,1738.745388,65.081707,15.981968,0.0,...,NaN,10+ years,1,C,36,700-704,685-689,08Q1,NaN,NaN
974,68817,JUN2009,Current,MAY2009,14,0,1673.663681,65.679916,15.383759,0.0,...,NaN,10+ years,1,C,36,700-704,685-689,08Q1,NaN,NaN
975,68817,JUL2009,Current,JUN2009,15,0,1607.983764,66.283624,14.780051,0.0,...,NaN,10+ years,1,C,36,700-704,695-699,08Q1,NaN,NaN
976,68817,JUL2009,Current,JUL2009,16,0,1541.700140,66.892881,14.170794,0.0,...,NaN,10+ years,1,C,36,700-704,705-709,08Q1,NaN,NaN
977,68817,SEP2009,Current,AUG2009,17,0,1474.807259,67.507738,13.555937,0.0,...,NaN,10+ years,1,C,36,700-704,695-699,08Q1,NaN,NaN
978,68817,OCT2009,Current,SEP2009,18,0,1407.299521,68.128247,12.935428,0.0,...,NaN,10+ years,1,C,36,700-704,705-709,08Q1,NaN,NaN
979,68817,NOV2009,Current,OCT2009,19,0,1339.171274,68.754459,12.309216,0.0,...,NaN,10+ years,1,C,36,700-704,695-699,08Q1,NaN,NaN
980,68817,DEC2009,Current,NOV2009,20,0,1270.416815,69.386427,11.677248,0.0,...,NaN,10+ years,1,C,36,700-704,705-709,08Q1,NaN,NaN
981,68817,DEC2009,Current,DEC2009,21,0,1201.030388,70.024204,11.039471,0.0,...,NaN,10+ years,1,C,36,700-704,695-699,08Q1,NaN,NaN
982,68817,FEB2010,Current,JAN2010,22,0,1131.006184,70.667843,10.395832,0.0,...,NaN,10+ years,1,C,36,700-704,715-719,08Q1,NaN,NaN
983,68817,MAR2010,Current,FEB2010,23,0,1060.338340,71.317398,9.746277,0.0,...,NaN,10+ years,1,C,36,700-704,715-719,08Q1,NaN,NaN
984,68817,APR2010,Current,MAR2010,24,0,989.020942,71.972924,9.090751,0.0,...,NaN,10+ years,1,C,36,700-704,715-719,08Q1,NaN,NaN
985,68817,MAY2010,Current,APR2010,25,0,917.048018,72.634475,8.429200,0.0,...,NaN,10+ years,1,C,36,700-704,715-719,08Q1,NaN,NaN
986,68817,JUN2010,Current,MAY2010,26,0,844.413543,73.302107,7.761568,0.0,...,NaN,10+ years,1,C,36,700-704,715-719,08Q1,NaN,NaN
987,68817,JUL2010,Current,JUN2010,27,0,771.111435,73.975876,7.087799,0.0,...,NaN,10+ years,1,C,36,700-704,725-729,08Q1,NaN,NaN
988,68817,AUG2010,Current,JUL2010,28,0,697.135560,74.655837,6.407838,0.0,...,NaN,10+ years,1,C,36,700-704,715-719,08Q1,NaN,NaN
989,68817,SEP2010,Current,AUG2010,29,0,622.479722,619.431199,5.721626,0.0,...,NaN,10+ years,1,C,36,700-704,715-719,08Q1,NaN,NaN
990,68817,SEP2010,Fully Paid,SEP2010,30,0,3.048523,3.048523,0.028021,0.0,...,NaN,10+ years,1,C,36,700-704,715-719,08Q1,NaN,NaN
991,68926,OCT2008,Current,SEP2008,1,0,589.605658,13.444932,6.470922,0.0,...,0.0,10+ years,1,D,36,670-674,MISSING,08Q3,NaN,NaN
992,68926,OCT2008,Current,OCT2008,2,0,576.160727,13.592490,6.323364,0.0,...,0.0,10+ years,1,D,36,670-674,665-669,08Q3,NaN,NaN
993,68926,DEC2008,Current,NOV2008,3,0,562.568237,13.741667,6.174186,0.0,...,0.0,10+ years,1,D,36,670-674,665-669,08Q3,NaN,NaN
994,68926,JAN2009,Current,DEC2008,4,0,548.826569,13.892482,6.023372,0.0,...,0.0,10+ years,1,D,36,670-674,635-639,08Q3,NaN,NaN
995,68926,FEB2009,Current,JAN2009,5,0,534.934087,14.044952,5.870902,0.0,...,0.0,10+ years,1,D,36,670-674,650-654,08Q3,NaN,NaN
996,68926,MAR2009,Current,FEB2009,6,0,520.889135,14.199095,5.716758,0.0,...,0.0,10+ years,1,D,36,670-674,665-669,08Q3,NaN,NaN
997,68926,APR2009,Current,MAR2009,7,0,506.690040,14.354931,5.560923,0.0,...,0.0,10+ years,1,D,36,670-674,650-654,08Q3,NaN,NaN
998,68926,MAY2009,Current,APR2009,8,0,492.335109,14.512476,5.403378,0.0,...,0.0,10+ years,1,D,36,670-674,650-654,08Q3,NaN,NaN
999,68926,JUN2009,Current,MAY2009,9,0,477.822633,14.671750,5.244103,0.0,...,0.0,10+ years,1,D,36,670-674,665-669,08Q3,NaN,NaN

In [17]:
first_chunk.LOAN_ID.value_counts().mean()

27.027027027027028

In [29]:
chunks = pd.read_csv('data/PMTHIST_INVESTOR_201811.csv', chunksize=100000)

In [24]:
n_unique = 0

In [ ]:
for i, chunk in enumerate(chunks):
    print(i)
    n_unique += chunk['LOAN_ID'].nunique()

In [27]:
n_unique

2135259

In [30]:
first_chunk = chunks.get_chunk()

/Users/jeromekafrouni/.pyenv/versions/3.6.1/envs/prob-prog/lib/python3.6/site-packages/IPython/core/async_helpers.py:67: DtypeWarning: Columns (26) have mixed types. Specify dtype option on import or set low_memory=False.
  coro.send(None)

In [31]:
import sys

In [33]:
sys.getsizeof(first_chunk)/1000000 # in MB

103.542592

In [35]:
smaller_first_chunk = first_chunk[columns]

In [36]:
sys.getsizeof(smaller_first_chunk)/1000000 # in MB

27.882717

In [37]:
smaller_first_chunk.dtypes

LOAN_ID              int64
RECEIVED_D          object
PERIOD_END_LSTAT    object
Month               object
MOB                  int64
IssuedDate          object
term                 int64
dtype: object

In [41]:
sys.getsizeof(smaller_first_chunk.RECEIVED_D)/1000000

6.21252

In [42]:
sys.getsizeof(smaller_first_chunk.RECEIVED_D.astype(str))/1000000

6.376656

In [44]:
as_date = pd.to_datetime(smaller_first_chunk.RECEIVED_D)

In [46]:
sys.getsizeof(as_date)/1000000

0.800104

There should be around 60 million records.

100K rows = 27 mb => 270 mb * 60 = too much.

Need to transform into dates: much smaller than objects

In [65]:
date_columns = ['RECEIVED_D', 'Month', 'IssuedDate']

In [47]:
smaller_first_chunk.RECEIVED_D.isnull().mean()

0.05862

In [48]:
smaller_first_chunk.PERIOD_END_LSTAT.isnull().mean()

0.0

In [49]:
smaller_first_chunk.Month.isnull().mean()

0.0

In [50]:
smaller_first_chunk.IssuedDate.isnull().mean()

0.0

In [69]:
def process(batch):
    batch = batch[columns].copy()
    for c in date_columns:
        # print('Processing column ', c)
        batch[c] = pd.to_datetime(batch[c])
    # TODO maybe map Status to ints here
    return batch

In [62]:
smaller_first_chunk.PERIOD_END_LSTAT.unique()

array(['Current', 'Fully Paid', 'Late (16-30 days)', 'Late (31-120 days)',
       'Charged Off', 'Default', 'In Grace Period', 'Issued'],
      dtype=object)

In [70]:
processed_first_chunk = process(first_chunk)

In [73]:
sys.getsizeof(processed_first_chunk)/1000000 # in MB

11.270301

In [74]:
sys.getsizeof(processed_first_chunk.PERIOD_END_LSTAT)/1000000

6.470301

In [75]:
statuses = ['Current', 'Fully Paid', 'Late (16-30 days)', 'Late (31-120 days)',
            'Charged Off', 'Default', 'In Grace Period', 'Issued']

In [78]:
sys.getsizeof(pd.Categorical(processed_first_chunk.PERIOD_END_LSTAT, statuses))/1000000

0.100891

In [79]:
def process(batch):
    batch = batch[columns].copy()
    for c in date_columns:
        # print('Processing column ', c)
        batch[c] = pd.to_datetime(batch[c])
    batch.PERIOD_END_LSTAT = pd.Categorical(batch.PERIOD_END_LSTAT, statuses)
    return batch

In [80]:
processed_first_chunk = process(first_chunk)

There will be around 500 chunks of 100K rows

Memory used:

In [85]:
(sys.getsizeof(processed_first_chunk)/1000000)*500

2450.4855000000002

Time: 30 sec per batch of 100K rows

In [89]:
(30*500)/60

250.0

**Better strategy: loading the right columns with the right dtypes**

In [95]:
pd.CategoricalDtype

AttributeError: module 'pandas' has no attribute 'CategoricalDtype'

In [96]:
pd.api.types.CategoricalDtype

pandas.core.dtypes.dtypes.CategoricalDtype

In [97]:
processed_first_chunk.dtypes

LOAN_ID                      int64
RECEIVED_D          datetime64[ns]
PERIOD_END_LSTAT          category
Month               datetime64[ns]
MOB                          int64
IssuedDate          datetime64[ns]
term                         int64
dtype: object

In [104]:
dtypes = {'LOAN_ID': int,
          'PERIOD_END_LSTAT': pd.api.types.CategoricalDtype(statuses),
          'MOB': int,
          'term': pd.api.types.CategoricalDtype(['36', '60'])
         }

In [105]:
parse_dates = ['RECEIVED_D', 'Month', 'IssuedDate']

In [106]:
chunks = pd.read_csv('data/PMTHIST_INVESTOR_201811.csv', chunksize=100000, usecols=columns,
                    dtype=dtypes, parse_dates=parse_dates)

In [108]:
%time chunks.get_chunk()

CPU times: user 35.1 s, sys: 403 ms, total: 35.5 s
Wall time: 36.9 s

        LOAN_ID RECEIVED_D PERIOD_END_LSTAT      Month  MOB IssuedDate term
100000   382975 2010-07-01          Current 2010-07-01   16 2009-03-01   36
100001   382975 2010-08-01          Current 2010-08-01   17 2009-03-01   36
100002   382975 2010-09-01          Current 2010-09-01   18 2009-03-01   36
100003   382975 2010-10-01          Current 2010-10-01   19 2009-03-01   36
100004   382975 2010-11-01          Current 2010-11-01   20 2009-03-01   36
100005   382975 2010-12-01          Current 2010-12-01   21 2009-03-01   36
100006   382975 2011-01-01          Current 2011-01-01   22 2009-03-01   36
100007   382975 2011-03-01          Current 2011-02-01   23 2009-03-01   36
100008   382975 2011-03-01          Current 2011-03-01   24 2009-03-01   36
100009   382975 2011-04-01          Current 2011-04-01   25 2009-03-01   36
100010   382975 2011-05-01          Current 2011-05-01   26 2009-03-01   36
100011   382975 2011-06-01          Current 2011-06-01   27 2009-03-01   36
100012   382975 2011-07-01          Current 2011-07-01   28 2009-03-01   36
100013   382975 2011-08-01          Current 2011-08-01   29 2009-03-01   36
100014   382975 2011-09-01          Current 2011-09-01   30 2009-03-01   36
100015   382975 2011-10-01          Current 2011-10-01   31 2009-03-01   36
100016   382975 2011-11-01          Current 2011-11-01   32 2009-03-01   36
100017   382975 2011-12-01       Fully Paid 2011-12-01   33 2009-03-01   36
100018   383004 2009-04-01          Current 2009-04-01    1 2009-03-01   36
100019   383004 2009-05-01          Current 2009-05-01    2 2009-03-01   36
100020   383004 2009-06-01          Current 2009-06-01    3 2009-03-01   36
100021   383004 2009-07-01          Current 2009-07-01    4 2009-03-01   36
100022   383004 2009-08-01          Current 2009-08-01    5 2009-03-01   36
100023   383004 2009-09-01          Current 2009-09-01    6 2009-03-01   36
100024   383004 2009-10-01          Current 2009-10-01    7 2009-03-01   36
100025   383004 2009-12-01          Current 2009-11-01    8 2009-03-01   36
100026   383004 2009-12-01          Current 2009-12-01    9 2009-03-01   36
100027   383004 2010-01-01          Current 2010-01-01   10 2009-03-01   36
100028   383004 2010-03-01          Current 2010-02-01   11 2009-03-01   36
100029   383004 2010-03-01          Current 2010-03-01   12 2009-03-01   36
...         ...        ...              ...        ...  ...        ...  ...
199970   457258 2011-01-01          Current 2011-01-01   14 2009-11-01   36
199971   457258 2011-02-01          Current 2011-02-01   15 2009-11-01   36
199972   457258 2011-03-01          Current 2011-03-01   16 2009-11-01   36
199973   457258 2011-04-01          Current 2011-04-01   17 2009-11-01   36
199974   457258 2011-05-01          Current 2011-05-01   18 2009-11-01   36
199975   457258 2011-06-01          Current 2011-06-01   19 2009-11-01   36
199976   457258 2011-07-01          Current 2011-07-01   20 2009-11-01   36
199977   457258 2011-08-01          Current 2011-08-01   21 2009-11-01   36
199978   457258 2011-09-01          Current 2011-09-01   22 2009-11-01   36
199979   457258 2011-10-01          Current 2011-10-01   23 2009-11-01   36
199980   457258 2011-11-01          Current 2011-11-01   24 2009-11-01   36
199981   457258 2011-12-01          Current 2011-12-01   25 2009-11-01   36
199982   457258 2012-01-01          Current 2012-01-01   26 2009-11-01   36
199983   457258 2012-02-01          Current 2012-02-01   27 2009-11-01   36
199984   457258 2012-03-01          Current 2012-03-01   28 2009-11-01   36
199985   457258 2012-04-01          Current 2012-04-01   29 2009-11-01   36
199986   457258 2012-05-01          Current 2012-05-01   30 2009-11-01   36
199987   457258 2012-06-01          Current 2012-06-01   31 2009-11-01   36
199988   457258 2012-07-01          Current 2012-07-01   32 2009-11-01   36
199989   457258 2012-08-01          Current 2012-08-01   33 2009-11-01   36
199990   457258 2012-09-01          Current 2012-09-01   34 2009-11-01   36
199991   457258 2012-10-01          Current 2012-10-01   35 2009-11-01   36
199992   457258 2012-11-01       Fully Paid 2012-11-01   36 2009-11-01   36
199993   457272 2009-12-01          Current 2009-12-01    1 2009-11-01   36
199994   457272 2010-01-01          Current 2010-01-01    2 2009-11-01   36
199995   457272 2010-02-01          Current 2010-02-01    3 2009-11-01   36
199996   457272 2010-03-01          Current 2010-03-01    4 2009-11-01   36
199997   457272 2010-04-01          Current 2010-04-01    5 2009-11-01   36
199998   457272 2010-05-01          Current 2010-05-01    6 2009-11-01   36
199999   457272 2010-06-01          Current 2010-06-01    7 2009-11-01   36

[100000 rows x 7 columns]

As slow... 30 seconds per chunk is too long. For now we just drop the dates:

In [109]:
dtypes = {'LOAN_ID': int,
          'PERIOD_END_LSTAT': pd.api.types.CategoricalDtype(statuses),
          'MOB': int,
          'term': pd.api.types.CategoricalDtype(['36', '60'])
         }

In [119]:
chunks = pd.read_csv('data/PMTHIST_INVESTOR_201811.csv', chunksize=100000, usecols=dtypes.keys(),
                    dtype=dtypes)

In [120]:
%time chunks.get_chunk()

CPU times: user 246 ms, sys: 37.9 ms, total: 284 ms
Wall time: 295 ms

       LOAN_ID PERIOD_END_LSTAT  MOB term
0        54734          Current    1   36
1        54734          Current    2   36
2        54734          Current    3   36
3        54734          Current    4   36
4        54734          Current    5   36
5        54734          Current    6   36
6        54734          Current    7   36
7        54734          Current    8   36
8        54734          Current    9   36
9        54734          Current   10   36
10       54734          Current   11   36
11       54734          Current   12   36
12       54734          Current   13   36
13       54734          Current   14   36
14       54734          Current   15   36
15       54734          Current   16   36
16       54734          Current   17   36
17       54734          Current   18   36
18       54734          Current   19   36
19       54734          Current   20   36
20       54734          Current   21   36
21       54734          Current   22   36
22       54734          Current   23   36
23       54734          Current   24   36
24       54734          Current   25   36
25       54734       Fully Paid   26   36
26       55716          Current    1   36
27       55716          Current    2   36
28       55716          Current    3   36
29       55716          Current    4   36
...        ...              ...  ...  ...
99970   382965          Current    9   36
99971   382965          Current   10   36
99972   382965          Current   11   36
99973   382965          Current   12   36
99974   382965          Current   13   36
99975   382965          Current   14   36
99976   382965          Current   15   36
99977   382965          Current   16   36
99978   382965          Current   17   36
99979   382965          Current   18   36
99980   382965          Current   19   36
99981   382965          Current   20   36
99982   382965          Current   21   36
99983   382965          Current   22   36
99984   382965       Fully Paid   23   36
99985   382975          Current    1   36
99986   382975          Current    2   36
99987   382975          Current    3   36
99988   382975          Current    4   36
99989   382975          Current    5   36
99990   382975          Current    6   36
99991   382975          Current    7   36
99992   382975          Current    8   36
99993   382975          Current    9   36
99994   382975          Current   10   36
99995   382975          Current   11   36
99996   382975          Current   12   36
99997   382975          Current   13   36
99998   382975          Current   14   36
99999   382975          Current   15   36

[100000 rows x 4 columns]

In [121]:
0.3*500

150.0

Loading the whole data should now take 3 minutes

In [122]:
sys.getsizeof(chunks.get_chunk())/1000000

1.801173

In [123]:
chunks.get_chunk().dtypes

LOAN_ID                int64
PERIOD_END_LSTAT    category
MOB                    int64
term                category
dtype: object

And we can even load everything at once:

In [124]:
df = pd.read_csv('data/PMTHIST_INVESTOR_201811.csv', usecols=dtypes.keys(), dtype=dtypes)

In [125]:
df.shape

(40263987, 4)

In [126]:
sys.getsizeof(df)/1000000 # in MB

724.752935

In [127]:
df.head()

   LOAN_ID PERIOD_END_LSTAT  MOB term
0    54734          Current    1   36
1    54734          Current    2   36
2    54734          Current    3   36
3    54734          Current    4   36
4    54734          Current    5   36